<?xml version="1.0" encoding="utf-8"?>
<RescopeCurrency Key="73af5c34-ccdc-4f84-b51e-e6bced031c88" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_USD" Level="0">
  <Name>USD</Name>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <CultureName>en-US</CultureName>
  <FormatTemplate></FormatTemplate>
</RescopeCurrency>