<?xml version="1.0" encoding="utf-8"?>
<RescopeShippingMethod Key="29dd3325-2a63-4982-5223-08dd6d7d33be" Alias="29dd3325-2a63-4982-5223-08dd6d7d33be" Level="0">
  <Name>Digital Delivery</Name>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Description></Description>
  <Calculator>FixedShippingCalculator</Calculator>
  <UserSelectable>false</UserSelectable>
  <CalculatorSettings>
    <FixedRate>0</FixedRate>
  </CalculatorSettings>
</RescopeShippingMethod>