<?xml version="1.0" encoding="utf-8"?>
<RescopeShippingMethod Key="64a4e05c-1727-4ca5-8ccd-c17029cbf62e" Alias="64a4e05c-1727-4ca5-8ccd-c17029cbf62e" Level="0">
  <Name>Default Shipping Method</Name>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Description></Description>
  <Calculator>FixedShippingCalculator</Calculator>
  <UserSelectable>true</UserSelectable>
  <CalculatorSettings>
    <FixedRate />
  </CalculatorSettings>
</RescopeShippingMethod>