<?xml version="1.0" encoding="utf-8"?>
<RescopePaymentMethod Key="08735be4-1cdd-4292-ae21-08dd75c00c8b" Alias="08735be4-1cdd-4292-ae21-08dd75c00c8b" Level="0">
  <Name>Invoice</Name>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Processor>InvoicePaymentProcessor</Processor>
  <ProcessorSettings />
</RescopePaymentMethod>