<?xml version="1.0" encoding="utf-8"?>
<RescopePaymentMethod Key="5d150006-3e04-4d94-7f15-08dd14423933" Alias="5d150006-3e04-4d94-7f15-08dd14423933" Level="0">
  <Name>Square</Name>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Processor>SquarePaymentProcessor</Processor>
  <ProcessorSettings>
    <IsSandboxMode />
    <CapturePaymentsImmediately />
  </ProcessorSettings>
</RescopePaymentMethod>