<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c3f14329-bbd2-43f7-89e5-37b527ca6db5" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BA" Level="0">
  <Name>Bosnia &amp; Herzegovina</Name>
  <Code>BA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>