<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="8370b3da-a689-43fe-a766-e02d9664981c" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KG" Level="0">
  <Name>Kyrgyzstan</Name>
  <Code>KG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>