<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="78d2e66d-96d4-4a46-9a3d-5421d9797aee" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SI" Level="0">
  <Name>Slovenia</Name>
  <Code>SI</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>