<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="702caef9-b4bb-4baf-bec9-607037944dfa" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KM" Level="0">
  <Name>Comoros</Name>
  <Code>KM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>