<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c2ffa65a-a076-4242-a968-490dd44656f8" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AS" Level="0">
  <Name>American Samoa</Name>
  <Code>AS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>