<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="2dd48ef9-58ec-47ee-8319-7f8cd2e5985f" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_LA" Level="0">
  <Name>Laos</Name>
  <Code>LA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>