<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="eb29ee9b-6c87-4216-bae9-dddb8b43d349" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MM" Level="0">
  <Name>Myanmar (Burma)</Name>
  <Code>MM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>