<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="45eb60be-76cc-4a94-8ca4-91f552a16032" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TF" Level="0">
  <Name>French Southern Territories</Name>
  <Code>TF</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>