<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="6922d239-3665-448f-b25f-49269705c3de" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PA" Level="0">
  <Name>Panama</Name>
  <Code>PA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>