<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="45637b4d-3fd2-4719-8fd5-303b3de940f2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_LB" Level="0">
  <Name>Lebanon</Name>
  <Code>LB</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>