<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="79b8a329-784c-4008-837c-3cd65d6a4cc5" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CY" Level="0">
  <Name>Cyprus</Name>
  <Code>CY</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>