<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="11f9053c-e099-49b1-a806-d985e2c4a1f7" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GS" Level="0">
  <Name>So. Georgia &amp; So. Sandwich Isl.</Name>
  <Code>GS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>46460e07-b0ff-4eb0-bc17-b5cf4427e4d3</CurrencyId>
</RescopeCountry>