<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9d357c42-cf0d-4949-9a6d-e4a610999cbe" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ZM" Level="0">
  <Name>Zambia</Name>
  <Code>ZM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>