<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="45141ee9-9122-4f3c-acab-c8e8d08c9e98" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GD" Level="0">
  <Name>Grenada</Name>
  <Code>GD</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>