<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="df0f0322-8179-46fc-a4f6-a93e2fcf49a8" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CA" Level="0">
  <Name>Canada</Name>
  <Code>CA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>