<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="d9888efc-8603-4d60-bc5e-f04062296908" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CZ" Level="0">
  <Name>Czechia</Name>
  <Code>CZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>