<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="fdb18c09-62f1-4e5c-9a96-9bf20c5da94b" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MS" Level="0">
  <Name>Montserrat</Name>
  <Code>MS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>