<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="53c0f15d-cb7f-434c-a699-ef36ee98fc87" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GA" Level="0">
  <Name>Gabon</Name>
  <Code>GA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>