<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="5d93f1b7-1906-4820-a1a6-e29c74b47749" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_VC" Level="0">
  <Name>St. Vincent &amp; Grenadines</Name>
  <Code>VC</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>