<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="0bc9d023-6ec4-4df6-a729-399e1e5517bc" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SJ" Level="0">
  <Name>Svalbard &amp; Jan Mayen</Name>
  <Code>SJ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>