<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c4fa47d4-6e4b-4944-b343-d82b4a4aa477" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TZ" Level="0">
  <Name>Tanzania</Name>
  <Code>TZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>