<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="e266517c-389d-4635-b24f-29271af9d00a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MY" Level="0">
  <Name>Malaysia</Name>
  <Code>MY</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>