<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="2ef7bc61-4014-44eb-81dd-1f73468e17c9" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_DK" Level="0">
  <Name>Denmark</Name>
  <Code>DK</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>