<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="ff3d605f-b900-4468-838e-0820214fe22a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_JM" Level="0">
  <Name>Jamaica</Name>
  <Code>JM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>