<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="04cab2d0-03c2-4e9e-a18d-f5a3359eb020" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NG" Level="0">
  <Name>Nigeria</Name>
  <Code>NG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>