<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="1f2b84b8-5009-4f3f-962d-429c7bc19961" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BW" Level="0">
  <Name>Botswana</Name>
  <Code>BW</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>