<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="d28c7893-965b-4afe-8438-f2331754f8e5" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CU" Level="0">
  <Name>Cuba</Name>
  <Code>CU</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>