<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="b1b1c41c-53e4-4112-9459-c1679813a4d9" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NI" Level="0">
  <Name>Nicaragua</Name>
  <Code>NI</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>