<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="0eaac95b-58fb-4075-b97c-872806a9ada3" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TJ" Level="0">
  <Name>Tajikistan</Name>
  <Code>TJ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>