<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="a1efbdb7-62cf-4b68-9357-848298876af6" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PN" Level="0">
  <Name>Pitcairn Islands</Name>
  <Code>PN</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>