<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="ed9e7b57-cbaa-4fa6-9637-3ec968dcf70c" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BV" Level="0">
  <Name>Bouvet Island</Name>
  <Code>BV</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>