<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="aca5f83a-0001-4160-9d3b-ef0140351c1d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AR" Level="0">
  <Name>Argentina</Name>
  <Code>AR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>