<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="4189b285-3712-428a-920b-6419bf192f49" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_OM" Level="0">
  <Name>Oman</Name>
  <Code>OM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>