<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="81d9f79c-87b6-4565-a9c6-14c93a39d7d2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_WF" Level="0">
  <Name>Wallis &amp; Futuna</Name>
  <Code>WF</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>