<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="b83586cd-49c6-418f-97da-9818c545a3a0" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BN" Level="0">
  <Name>Brunei</Name>
  <Code>BN</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>