<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="b32fb3da-edc0-4503-b3f3-9dc9a19c5f47" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AI" Level="0">
  <Name>Anguilla</Name>
  <Code>AI</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>