<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="f7e0eec8-7829-40aa-a446-e3c49e585110" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NU" Level="0">
  <Name>Niue</Name>
  <Code>NU</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>