<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9591273f-f8ea-42a8-a77a-1a239846d13a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_IL" Level="0">
  <Name>Israel</Name>
  <Code>IL</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>