<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="1a8fb1be-71b0-4368-9008-b242260d5079" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_US" Level="0">
  <Name>United States</Name>
  <Code>US</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>