<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="90227b58-4c45-4cb7-ab0b-6bb543bc7f1c" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_YT" Level="0">
  <Name>Mayotte</Name>
  <Code>YT</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>