<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="f03b5b44-46b0-4925-bf10-17d4136ec81e" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SR" Level="0">
  <Name>Suriname</Name>
  <Code>SR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>