<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="bad84c81-8018-4568-a1f6-8a2c5eedd4c3" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BF" Level="0">
  <Name>Burkina Faso</Name>
  <Code>BF</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>