<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c9d3fb23-b17b-4771-b652-4d6ca9402126" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_QA" Level="0">
  <Name>Qatar</Name>
  <Code>QA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>