<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="e2b3034d-c5ca-4c26-9728-62135948b1ed" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_IN" Level="0">
  <Name>India</Name>
  <Code>IN</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>