<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="121b6ca6-d3a0-4bb3-8190-498804fec3cf" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_EC" Level="0">
  <Name>Ecuador</Name>
  <Code>EC</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>