<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="e5016a9b-27de-4c67-82ea-ec4b76ca1085" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_YE" Level="0">
  <Name>Yemen</Name>
  <Code>YE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>