<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="fc8673da-91af-45b5-a429-dcec9c88aa66" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AE" Level="0">
  <Name>United Arab Emirates</Name>
  <Code>AE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>