<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="abad2bbc-4d98-45fd-9f41-3a0dff578e10" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_JE" Level="0">
  <Name>Jersey</Name>
  <Code>JE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>46460e07-b0ff-4eb0-bc17-b5cf4427e4d3</CurrencyId>
</RescopeCountry>