<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9423b3d7-7954-4c39-add8-094f38172523" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PK" Level="0">
  <Name>Pakistan</Name>
  <Code>PK</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>