<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="03f4c9cc-4b52-45b8-b2aa-6a5e75d4171a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PW" Level="0">
  <Name>Palau</Name>
  <Code>PW</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>