<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="838e58b1-f62e-462e-b26b-c3cf50c4f3bd" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_DM" Level="0">
  <Name>Dominica</Name>
  <Code>DM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>