<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7518f673-0233-4d2b-855f-8c2ef3049ad1" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SE" Level="0">
  <Name>Sweden</Name>
  <Code>SE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>