<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="b69d37b7-7733-4fff-bdb6-abdd9395b14b" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BT" Level="0">
  <Name>Bhutan</Name>
  <Code>BT</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>