<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c6b2f2c5-1d84-4bae-8ec4-1cd490865cef" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SO" Level="0">
  <Name>Somalia</Name>
  <Code>SO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>