<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="3fd15ac2-b338-458f-a56b-fc13f2c3b85d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KE" Level="0">
  <Name>Kenya</Name>
  <Code>KE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>