<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="90a5352d-bfb9-4533-905f-7ef61614ebef" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BQ" Level="0">
  <Name>Caribbean Netherlands</Name>
  <Code>BQ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>