<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="372421af-e47f-47dc-b297-719a1e11dfb3" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_FJ" Level="0">
  <Name>Fiji</Name>
  <Code>FJ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>