<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="89ddbcc9-dbb2-476a-a610-a441ff2e7b97" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_FM" Level="0">
  <Name>Micronesia</Name>
  <Code>FM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>