<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="501afb44-910e-4d09-b5ba-ae161a2698b0" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MX" Level="0">
  <Name>Mexico</Name>
  <Code>MX</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>