<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="4c2ce753-4693-4a18-bac4-b8ade83f386b" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_FK" Level="0">
  <Name>Falkland Islands</Name>
  <Code>FK</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>