<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7e9ee3fd-8873-4721-b33c-93e138cd4fc2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NZ" Level="0">
  <Name>New Zealand</Name>
  <Code>NZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>