<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="6fe3a7ff-8d40-45a0-a6d2-c2fc90b2fa35" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_LS" Level="0">
  <Name>Lesotho</Name>
  <Code>LS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>