<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="0957e416-4cef-49fc-8b78-28fc563e5646" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ER" Level="0">
  <Name>Eritrea</Name>
  <Code>ER</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>