<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="fe3aa830-b613-47ed-803f-3cbf2f0dc31d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GH" Level="0">
  <Name>Ghana</Name>
  <Code>GH</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>