<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="109eaff5-0a94-42e7-bacc-2e5a9f47e436" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PS" Level="0">
  <Name>Palestinian Territories</Name>
  <Code>PS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>