<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="117c26c1-8e62-40aa-b2ba-06c3ce93d5fa" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GQ" Level="0">
  <Name>Equatorial Guinea</Name>
  <Code>GQ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>