<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="a6734151-a649-4771-b4db-3dedf482c496" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AQ" Level="0">
  <Name>Antarctica</Name>
  <Code>AQ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>