<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="6fa0c01d-18a9-4b86-a8a2-a1aab6370020" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ID" Level="0">
  <Name>Indonesia</Name>
  <Code>ID</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>