<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="18131908-e11b-4e81-892c-d0f367680c3c" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BR" Level="0">
  <Name>Brazil</Name>
  <Code>BR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>