<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9354e652-9db4-42c1-9e40-820fd40b2145" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KH" Level="0">
  <Name>Cambodia</Name>
  <Code>KH</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>