<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="64a692a6-a997-4a33-bbaa-9ab3aadc26aa" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MV" Level="0">
  <Name>Maldives</Name>
  <Code>MV</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>