<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="254d6b4c-721f-466a-b3b0-44e9d61906b9" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KZ" Level="0">
  <Name>Kazakhstan</Name>
  <Code>KZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>