<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="8c4234da-57b1-4c2f-b182-98becb63c471" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CC" Level="0">
  <Name>Cocos (Keeling) Islands</Name>
  <Code>CC</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>