<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="88d81d7d-0f06-4602-8ed8-ce845c251b43" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_LY" Level="0">
  <Name>Libya</Name>
  <Code>LY</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>