<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="5966189e-b984-4576-9522-22c09477f08c" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BM" Level="0">
  <Name>Bermuda</Name>
  <Code>BM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>