<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="28679494-b0e1-4bde-afb8-c824d1878e70" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MU" Level="0">
  <Name>Mauritius</Name>
  <Code>MU</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>