<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="f2ce9063-e2a4-4c52-a97e-f2ab015f6f24" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ME" Level="0">
  <Name>Montenegro</Name>
  <Code>ME</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>