<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="4487609f-2fad-4207-8808-f60a2a74c04d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GP" Level="0">
  <Name>Guadeloupe</Name>
  <Code>GP</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>