<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="dece0b79-5930-4aa0-819c-0becfd7283b8" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SG" Level="0">
  <Name>Singapore</Name>
  <Code>SG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>