<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="894db39b-882b-4e9b-aee3-90bda7d97ed8" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_FO" Level="0">
  <Name>Faroe Islands</Name>
  <Code>FO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>