<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="49b80bd0-1661-49db-9509-63eff0228ca5" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_UG" Level="0">
  <Name>Uganda</Name>
  <Code>UG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>