<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="db23ac55-85de-4053-8b5a-5bc7050e0214" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TC" Level="0">
  <Name>Turks &amp; Caicos Islands</Name>
  <Code>TC</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>