<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="6cd20a1e-a6ea-4d40-b65a-908496bfda31" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NA" Level="0">
  <Name>Namibia</Name>
  <Code>NA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>