<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="793dd7fb-02fa-400c-9567-af7d02c0723d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TH" Level="0">
  <Name>Thailand</Name>
  <Code>TH</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>