<?xml version="1.0" encoding="utf-8"?>
<Content Key="baff0d59-da5d-4080-9baf-89459d7c745c" Alias="About" Level="2">
  <Info>
    <Parent Key="e1a2f5ca-461f-40a7-aed6-aa6e84317fac">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2024-12-03T22:01:43</CreateDate>
    <NodeName Default="About" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f3fd80f3-f223-4199-86cc-09ea6e7a1f69">GenericPage</Template>
  </Info>
  <Properties>
    <placeholderContent>
      <Value><![CDATA[{
  "markup": "<p>Welcome to our <strong>FAKE STORE</strong>, your one-stop shop for all things print and art! Dive into a world of inspiration with our carefully curated selection of magazines spanning every genre—from fashion and lifestyle to tech and travel. Adorn your walls with stunning posters that showcase breathtaking photography, timeless artwork, and pop culture icons. Whether you're looking to spark creativity, stay informed, or add a personal touch to your space, we've got you covered. Explore our collection today and let your imagination come to life!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </placeholderContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>