<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7a73eeb-d86c-4675-8656-14e730a54890" Alias="Account" Level="2">
  <Info>
    <Parent Key="e1a2f5ca-461f-40a7-aed6-aa6e84317fac">Home</Parent>
    <Path>/Home/Account</Path>
    <Trashed>false</Trashed>
    <ContentType>account</ContentType>
    <CreateDate>2025-04-09T22:54:48</CreateDate>
    <NodeName Default="Account" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d8302d0-3e14-49d1-802e-553949393e35">Account</Template>
  </Info>
  <Properties>
    <placeholderContent>
      <Value><![CDATA[{
  "markup": "<p>Welcome to your account, thank you for using our store. Manage your orders and personal information here.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </placeholderContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>