<?xml version="1.0" encoding="utf-8"?>
<Content Key="65b47819-f024-4964-8732-2cb79d95b0b5" Alias="Basket" Level="2">
  <Info>
    <Parent Key="e1a2f5ca-461f-40a7-aed6-aa6e84317fac">Home</Parent>
    <Path>/Home/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2024-12-03T22:41:25</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5446f4f7-3c93-42fb-9a7e-1a24131ebd82">Basket</Template>
  </Info>
  <Properties>
    <placeholderContent>
      <Value><![CDATA[]]></Value>
    </placeholderContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>