<?xml version="1.0" encoding="utf-8"?>
<Content Key="5055b5c6-7af1-40fd-aa93-3f284bb9d15e" Alias="Checkout" Level="3">
  <Info>
    <Parent Key="65b47819-f024-4964-8732-2cb79d95b0b5">Basket</Parent>
    <Path>/Home/Basket/Checkout</Path>
    <Trashed>false</Trashed>
    <ContentType>checkout</ContentType>
    <CreateDate>2024-12-03T22:41:53</CreateDate>
    <NodeName Default="Checkout" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <placeholderContent>
      <Value><![CDATA[]]></Value>
    </placeholderContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>