<?xml version="1.0" encoding="utf-8"?>
<Content Key="c907d754-c055-4f31-a0e3-e585ee122d20" Alias="Green Swooshes" Level="3">
  <Info>
    <Parent Key="408c7177-4290-4c98-80a5-67b3e4470f6b">Posters</Parent>
    <Path>/Home/Posters/GreenSwooshes</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProduct</ContentType>
    <CreateDate>2024-12-03T22:24:19</CreateDate>
    <NodeName Default="Green Swooshes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd73299d-9d93-4955-b4e8-6cab5ca90556">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "328677c0-d3a7-4802-a377-e17437864ccb",
    "mediaKey": "d40a7251-172d-4ebe-9864-2c12a0baff13"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[0]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "21.49",
  "GBP": "18.49",
  "EUR": "20.99"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[poster-green-swooshes]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
  </Properties>
</Content>