<?xml version="1.0" encoding="utf-8"?>
<Content Key="7677991b-7c28-497b-bf80-d02065b61a68" Alias="Login" Level="3">
  <Info>
    <Parent Key="b7a73eeb-d86c-4675-8656-14e730a54890">Account</Parent>
    <Path>/Home/Account/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2025-04-10T22:30:39</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad16504-4ca8-4595-be86-4521c6568880">Login</Template>
  </Info>
  <Properties>
    <placeholderContent>
      <Value><![CDATA[{
  "markup": "<p>Managing your orders is even easier when you sign in to your own personal account.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </placeholderContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>