<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe633b23-76b9-4ea7-8f0f-ca3d6cda3d29" Alias="Pink Edition" Level="3">
  <Info>
    <Parent Key="d525ae71-9bff-40c9-a2ca-eff7ec951f6b">Magazines</Parent>
    <Path>/Home/Magazines/PinkEdition</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProduct</ContentType>
    <CreateDate>2025-03-27T21:27:07</CreateDate>
    <NodeName Default="Pink Edition" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd73299d-9d93-4955-b4e8-6cab5ca90556">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "1303ecaa-01ce-409e-8cc4-7e8a11d6bdf4",
    "mediaKey": "3d11682d-2e1f-402e-a78a-672f0f0ad15b"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[1]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "5.99",
  "GBP": "5.99",
  "EUR": "5.99"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[1]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[magazine-pink]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
  </Properties>
</Content>