<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ae07718-a44f-414e-97f3-72516548cede" Alias="Printed Monthly" Level="4">
  <Info>
    <Parent Key="b4062a9d-2d2e-4b6a-8939-eb97da623574">Blue Edition</Parent>
    <Path>/Home/Magazines/BlueEdition/PrintedMonthly</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProductVariant</ContentType>
    <CreateDate>2025-03-27T21:04:49</CreateDate>
    <NodeName Default="Printed Monthly" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "af48e6af-c564-4b8f-861c-cfee1ce2f99a",
    "mediaKey": "93ad727f-3f8d-476e-8213-b51acfe89458"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[1]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "19.99",
  "GBP": "14.99",
  "EUR": "19.49"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[1]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[magazine-blue-printed-monthly]]></Value>
    </sku>
  </Properties>
</Content>