<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1208e77b-7020-4179-9b07-e452babe4c6c" Alias="List View - rescopeProduct" Level="1">
  <Info>
    <Name>List View - rescopeProduct</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": null,
  "IncludeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "owner",
      "header": "Created by",
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "SortOrder",
  "OrderDirection": "asc",
  "PageSize": 10,
  "ShowContentFirst": true,
  "TabName": "Variations",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>