<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3243774a-5cfa-49a2-a005-1e1fde239551" Alias="Price Editor" Level="1">
  <Info>
    <Name>Price Editor</Name>
    <EditorAlias>RescopePriceEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>