<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ef500f1-7fc7-4209-8e74-3ccfb7fc645d" Alias="Product Picker" Level="1">
  <Info>
    <Name>Product Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "rescopeProduct",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>