<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6aed4ff8-cc8d-410d-846e-9f9cf5b0e3e0" Alias="Tax Rate Picker" Level="1">
  <Info>
    <Name>Tax Rate Picker</Name>
    <EditorAlias>RescopeTaxRatePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>