<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47b8cd90-102d-4065-be55-df6dc2cc0933" Alias="Toggle (default false)" Level="1">
  <Info>
    <Name>Toggle (default false)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>