<?xml version="1.0" encoding="utf-8"?>
<Media Key="756a93a9-dc53-4854-86d6-b969c5e2f6db" Alias="AI Green Magazine" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AIGreenMagazine</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-03T22:19:35</CreateDate>
    <NodeName Default="AI Green Magazine" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v4jhu3kt/_401b2c2c-2667-40c2-a981-1e8039ecfde6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>