<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f74904-8f3b-40ab-899d-f1bac69ce0d9" Alias="Orange paperweight" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OrangePaperweight</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-26T23:02:22</CreateDate>
    <NodeName Default="Orange paperweight" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ajeponj1/orangepaperweight.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>