<?xml version="1.0" encoding="utf-8"?>
<RescopeCurrency Key="46460e07-b0ff-4eb0-bc17-b5cf4427e4d3" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GBP" Level="0">
  <Name>GBP</Name>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <CultureName>en-GB</CultureName>
  <FormatTemplate></FormatTemplate>
</RescopeCurrency>