<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c95114fc-ef42-4fb7-9518-aa757cf91169" Alias="account" Level="1">
  <Info>
    <Name>Account</Name>
    <Icon>icon-umb-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c51d00a1-459b-489e-a7aa-9d74204b2169">contentComposition</Composition>
      <Composition Key="bb2f3d99-651c-4a86-a9ee-1461d69759ea">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>Account</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5d8302d0-3e14-49d1-802e-553949393e35">Account</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d93d3b49-f99f-4f76-80ca-8bff45fcb5bb" SortOrder="0">login</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>