<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c75bbd07-7813-4be6-a85d-2fcc1488b8e3" Alias="basket" Level="2">
  <Info>
    <Name>Basket</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Basket</Folder>
    <Compositions>
      <Composition Key="c51d00a1-459b-489e-a7aa-9d74204b2169">contentComposition</Composition>
      <Composition Key="bb2f3d99-651c-4a86-a9ee-1461d69759ea">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>Basket</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5446f4f7-3c93-42fb-9a7e-1a24131ebd82">Basket</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3995b46a-29f5-4c98-b3c7-4fdcb7795a97" SortOrder="0">checkout</ContentType>
    <ContentType Key="b9bc8890-da1c-4a10-8424-18c4e6110b81" SortOrder="1">confirmation</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>