<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4c5fdab-30df-4a60-b32c-7bf4bee66393" Alias="genericPage" Level="1">
  <Info>
    <Name>Generic Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c51d00a1-459b-489e-a7aa-9d74204b2169">contentComposition</Composition>
      <Composition Key="bb2f3d99-651c-4a86-a9ee-1461d69759ea">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>GenericPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f3fd80f3-f223-4199-86cc-09ea6e7a1f69">GenericPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>