<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d11682d-2e1f-402e-a78a-672f0f0ad15b" Alias="AI Pink Magazine" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AIPinkMagazine</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-03T22:19:10</CreateDate>
    <NodeName Default="AI Pink Magazine" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fnubcpi5/_b35c77dc-f13b-40a8-ae24-8a4267e5567c.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>