<?xml version="1.0" encoding="utf-8"?>
<Media Key="875f1768-c5eb-4c83-9926-f1517e93ff30" Alias="Pink Triangles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PinkTriangles</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-03T22:25:09</CreateDate>
    <NodeName Default="Pink Triangles" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nylf5b5l/triangleposter2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>