<?xml version="1.0" encoding="utf-8"?>
<Media Key="16b9c93c-9b21-44c5-8f96-e74e8faae14d" Alias="Sample Store Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SampleStoreLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-12-03T22:36:05</CreateDate>
    <NodeName Default="Sample Store Logo" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bxelsfrb/sample-store-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>