<?xml version="1.0" encoding="utf-8"?>
<RescopeTaxRate Key="acbf3e0c-aad7-4e5e-8c7f-08dd6d7c9bc0" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_Default" Level="0">
  <Name>Default</Name>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <Rates>
    <Default>0.0</Default>
    <GB>0.2</GB>
  </Rates>
</RescopeTaxRate>