@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-neutral-700;
  }

  html,
  body {
    @apply min-h-screen;
  }

  body {
    @apply flex flex-col;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-black;
  }

  .nice-select {
    border-radius: 0;
    padding-left: 12px;
  }
}

@layer utilities {
  .input {
    @apply border border-neutral-200 px-3 py-1.5 read-only:bg-neutral-100;
  }
}

@layer components {
  .btn {
    @apply disabled:!bg-slate-200 disabled:!border-slate-300 disabled:!text-slate-600 disabled:!shadow-none disabled:!font-normal inline-flex items-center gap-2 font-bold px-3 py-1.5 rounded shadow-lg transition-all border;
  }

  .btn-danger {
    @apply text-white bg-red-600 shadow-red-600/25 hover:bg-white hover:text-red-600 border-red-600;
  }

  .btn-primary {
    @apply text-white bg-indigo-600 shadow-indigo-600/25 hover:bg-white hover:text-indigo-600 border-indigo-600;
  }

  .btn-primary-outline {
    @apply text-indigo-600 bg-white hover:shadow-indigo-600/25 border-indigo-600 ring-0 ring-indigo-600 hover:ring-2 ring-inset hover:font-bold;
  }

  .btn-success {
    @apply text-white bg-green-600 shadow-green-600/25 hover:bg-white hover:text-green-600 border-green-600;
  }
}

select.ns {
  margin: 0 !important;
}
