<?xml version="1.0" encoding="utf-8"?>
<Content Key="baff0d59-da5d-4080-9baf-89459d7c745c" Alias="About" Level="2">
  <Info>
    <Parent Key="e1a2f5ca-461f-40a7-aed6-aa6e84317fac">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2024-12-03T22:01:43</CreateDate>
    <NodeName Default="About" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f3fd80f3-f223-4199-86cc-09ea6e7a1f69">GenericPage</Template>
  </Info>
  <Properties>
    <placeholderContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWelcome to our \u003Cstrong\u003EFAKE STORE\u003C/strong\u003E, your one-stop shop for all things print and art! Dive into a world of inspiration with our carefully curated selection of magazines spanning every genre\u2014from fashion and lifestyle to tech and travel. Adorn your walls with stunning posters that showcase breathtaking photography, timeless artwork, and pop culture icons. Whether you\u0027re looking to spark creativity, stay informed, or add a personal touch to your space, we\u0027ve got you covered. Explore our collection today and let your imagination come to life!\u003C/p\u003E"
}]]></Value>
    </placeholderContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>