<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4062a9d-2d2e-4b6a-8939-eb97da623574" Alias="Blue Edition" Level="3">
  <Info>
    <Parent Key="d525ae71-9bff-40c9-a2ca-eff7ec951f6b">Magazines</Parent>
    <Path>/Home/Magazines/BlueEdition</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProduct</ContentType>
    <CreateDate>2024-12-03T22:04:46</CreateDate>
    <NodeName Default="Blue Edition" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd73299d-9d93-4955-b4e8-6cab5ca90556">Product</Template>
  </Info>
  <Properties>
    <customisationFields>
      <Value><![CDATA[]]></Value>
    </customisationFields>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u!\u003C/p\u003E"
}]]></Value>
    </description>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "acd20146-bf7a-4d39-baef-41df64ef05ec",
    "mediaKey": "93ad727f-3f8d-476e-8213-b51acfe89458"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[0]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[magazine-blue]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
  </Properties>
</Content>