<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbb20206-a195-4a68-ae0a-c76a17c19b4b" Alias="Blue Circles" Level="3">
  <Info>
    <Parent Key="408c7177-4290-4c98-80a5-67b3e4470f6b">Posters</Parent>
    <Path>/Home/Posters/BlueCircles</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProduct</ContentType>
    <CreateDate>2024-12-03T22:23:10</CreateDate>
    <NodeName Default="Blue Circles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd73299d-9d93-4955-b4e8-6cab5ca90556">Product</Template>
  </Info>
  <Properties>
    <customisationFields>
      <Value><![CDATA[]]></Value>
    </customisationFields>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u!\u003C/p\u003E"
}]]></Value>
    </description>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "4f5bca73-5c36-4173-a68b-a7147048036a",
    "mediaKey": "deb46aee-17cb-42a2-a4d1-125a2453c84d"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[0]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "19.99",
  "GBP": "16.99",
  "EUR": "19.99"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[poster-blue-circles]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
  </Properties>
</Content>