<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7d7c3b7-2f83-4dec-b004-20e7b32e0b74" Alias="Confirmation" Level="3">
  <Info>
    <Parent Key="65b47819-f024-4964-8732-2cb79d95b0b5">Basket</Parent>
    <Path>/Home/Basket/Confirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>confirmation</ContentType>
    <CreateDate>2024-12-03T22:43:54</CreateDate>
    <NodeName Default="Confirmation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1e46d51e-0aea-4a53-a614-9328186ac4b3">Confirmation</Template>
  </Info>
  <Properties />
</Content>