<?xml version="1.0" encoding="utf-8"?>
<Content Key="b84b97d1-5d3a-4547-8cf0-af7fb161da33" Alias="Customised Paperweight" Level="3">
  <Info>
    <Parent Key="032c6eb7-8042-4f24-b472-c83c93bf79de">Accessories</Parent>
    <Path>/Home/Accessories/CustomisedPaperweight</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProduct</ContentType>
    <CreateDate>2025-04-16T22:23:50</CreateDate>
    <NodeName Default="Customised Paperweight" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd73299d-9d93-4955-b4e8-6cab5ca90556">Product</Template>
  </Info>
  <Properties>
    <customisationFields>
      <Value><![CDATA[[
  {
    "label": "Your name",
    "description": "Embed your own name within the paperweight",
    "type": "string",
    "key": "ac7e7c03-785e-4379-8c24-5c193d530876",
    "$$hashKey": "object:6120"
  }
]]]></Value>
    </customisationFields>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ECheck out this amazing customised blue paperweight!\u003C/p\u003E"
}]]></Value>
    </description>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "49e05c58-3f2e-4ec3-96d9-b586f5f7d515",
    "mediaKey": "d52d65cb-bb84-4048-a3b9-94f4fefffc1d"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[0]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "EUR": "19.99",
  "GBP": "19.99",
  "USD": "19.99"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[ac-blue-prw]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
  </Properties>
</Content>