<?xml version="1.0" encoding="utf-8"?>
<Content Key="07daffc8-df82-40c3-bcb9-dc6f0ff1d18d" Alias="Digital Monthly" Level="4">
  <Info>
    <Parent Key="152782ad-205b-452d-8505-d3afe14e7160">Green Edition</Parent>
    <Path>/Home/Magazines/GreenEdition/DigitalMonthly</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProductVariant</ContentType>
    <CreateDate>2025-03-27T21:06:00</CreateDate>
    <NodeName Default="Digital Monthly" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customisationFields>
      <Value><![CDATA[]]></Value>
    </customisationFields>
    <forceShippingMethod>
      <Value><![CDATA[29dd3325-2a63-4982-5223-08dd6d7d33be]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "8d43e12d-d562-4027-81b2-c767c9201631",
    "mediaKey": "756a93a9-dc53-4854-86d6-b969c5e2f6db"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[1]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "10.49",
  "GBP": "7.49",
  "EUR": "9.49"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[1]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[magazine-green-digital-monthly]]></Value>
    </sku>
  </Properties>
</Content>