<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf221345-defe-4bf9-87a3-8cb1235079e8" Alias="Digital" Level="4">
  <Info>
    <Parent Key="b4062a9d-2d2e-4b6a-8939-eb97da623574">Blue Edition</Parent>
    <Path>/Home/Magazines/BlueEdition/Digital</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProductVariant</ContentType>
    <CreateDate>2024-12-03T22:12:40</CreateDate>
    <NodeName Default="Digital" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customisationFields>
      <Value><![CDATA[]]></Value>
    </customisationFields>
    <forceShippingMethod>
      <Value><![CDATA[29dd3325-2a63-4982-5223-08dd6d7d33be]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "b0fe9bef-b7b5-4302-b0e6-62ff7d762ba3",
    "mediaKey": "93ad727f-3f8d-476e-8213-b51acfe89458"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[0]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "10.99",
  "GBP": "7.99",
  "EUR": "9.99"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[magazine-blue-digital]]></Value>
    </sku>
  </Properties>
</Content>