<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f16daef-2780-4add-b03f-3c3a6e325f26" Alias="Pink Triangles" Level="3">
  <Info>
    <Parent Key="408c7177-4290-4c98-80a5-67b3e4470f6b">Posters</Parent>
    <Path>/Home/Posters/PinkTriangles</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProduct</ContentType>
    <CreateDate>2024-12-03T22:25:30</CreateDate>
    <NodeName Default="Pink Triangles" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd73299d-9d93-4955-b4e8-6cab5ca90556">Product</Template>
  </Info>
  <Properties>
    <customisationFields>
      <Value><![CDATA[]]></Value>
    </customisationFields>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u!\u003C/p\u003E"
}]]></Value>
    </description>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "0d530183-3e5e-42c8-abcd-2272018cfe1e",
    "mediaKey": "875f1768-c5eb-4c83-9926-f1517e93ff30"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[0]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "9.89",
  "GBP": "8.89",
  "EUR": "9.89"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[poster-triangles]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
  </Properties>
</Content>