<?xml version="1.0" encoding="utf-8"?>
<Content Key="408c7177-4290-4c98-80a5-67b3e4470f6b" Alias="Posters" Level="2">
  <Info>
    <Parent Key="e1a2f5ca-461f-40a7-aed6-aa6e84317fac">Home</Parent>
    <Path>/Home/Posters</Path>
    <Trashed>false</Trashed>
    <ContentType>catalogue</ContentType>
    <CreateDate>2024-12-03T22:01:30</CreateDate>
    <NodeName Default="Posters" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3ab9a8d-df6a-4deb-a45d-99e51176ac18">Catalogue</Template>
  </Info>
  <Properties>
    <placeholderContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\u003C/p\u003E"
}]]></Value>
    </placeholderContent>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>