<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cd864f3-d0ed-409f-9cd2-6c455122a544" Alias="Printed" Level="4">
  <Info>
    <Parent Key="b4062a9d-2d2e-4b6a-8939-eb97da623574">Blue Edition</Parent>
    <Path>/Home/Magazines/BlueEdition/Printed</Path>
    <Trashed>false</Trashed>
    <ContentType>rescopeProductVariant</ContentType>
    <CreateDate>2024-12-03T22:13:35</CreateDate>
    <NodeName Default="Printed" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customisationFields>
      <Value><![CDATA[]]></Value>
    </customisationFields>
    <forceShippingMethod>
      <Value><![CDATA[]]></Value>
    </forceShippingMethod>
    <image>
      <Value><![CDATA[[
  {
    "key": "2547fe95-f629-4bef-a7f1-87ee026c545c",
    "mediaKey": "93ad727f-3f8d-476e-8213-b51acfe89458"
  }
]]]></Value>
    </image>
    <isSubscriptionItem>
      <Value><![CDATA[0]]></Value>
    </isSubscriptionItem>
    <price>
      <Value><![CDATA[{
  "USD": "19.99",
  "GBP": "14.99",
  "EUR": "19.49"
}]]></Value>
    </price>
    <recurEveryDays>
      <Value><![CDATA[]]></Value>
    </recurEveryDays>
    <recurEveryMonths>
      <Value><![CDATA[]]></Value>
    </recurEveryMonths>
    <sku>
      <Value><![CDATA[magazine-blue-printed]]></Value>
    </sku>
  </Properties>
</Content>