@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var home = Model.AncestorOrSelf<Home>(1);
}

<div class="pt-12 mt-auto">
    <div class="container lg:!max-w-screen-lg mx-auto py-6 border-t">
        <div class="flex flex-row">
            <div class="text-base flex-1 text-sm">
                @foreach (var link in home.Footer)
                {
                    <p>
                        <a href="@link.Url" target="@link.Target" class="hover:underline hover:text-indigo-600 transition-all">@link.Name</a>
                    </p>
                }
            </div>
            <div class="text-sm flex-1 border rounded-lg p-4">
                <h2 class="text-xl leading-tight">Sign up for our newsletter</h2>
                <p class="text-black/75 mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="flex flex-row gap-2">
                    <input type="text" class="input text-lg flex-1" placeholder="Email address" />

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-neutral-100">
        <div class="container lg:!max-w-screen-lg mx-auto py-6">
            <p class="text-xs opacity-75">
                &copy; @DateTime.UtcNow.Year Rescope Commerce Demo
            </p>
        </div>
    </div>
</div>