<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9d3ac83b-9e13-4c80-a7e2-6411b05424b4" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TR" Level="0">
  <Name>Türkiye</Name>
  <Code>TR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>