<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7a276bc6-488b-47d0-93ef-c7a936bbd00f" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SD" Level="0">
  <Name>Sudan</Name>
  <Code>SD</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>