<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="ad84f2e2-192f-4c81-8577-f0491949fc74" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KW" Level="0">
  <Name>Kuwait</Name>
  <Code>KW</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>