<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="8e82d813-d228-42da-b3b2-239d2c917e99" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GN" Level="0">
  <Name>Guinea</Name>
  <Code>GN</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>