<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="968594a5-0350-444f-ab97-fef623a2a837" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BB" Level="0">
  <Name>Barbados</Name>
  <Code>BB</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>