<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="de9ff128-aa8d-40a0-b5aa-0b9791fce608" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PG" Level="0">
  <Name>Papua New Guinea</Name>
  <Code>PG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>