<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9088e74a-9498-4a5a-b573-478444050395" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BD" Level="0">
  <Name>Bangladesh</Name>
  <Code>BD</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>