<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="a1ccb030-b768-4102-b4e7-babe55182e7d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_HK" Level="0">
  <Name>Hong Kong</Name>
  <Code>HK</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>