<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="30765c91-ec2e-4223-80e6-6c73bb9051a9" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SH" Level="0">
  <Name>St. Helena</Name>
  <Code>SH</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>