<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="036964b5-5939-4010-827e-f7b6536b579e" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_LR" Level="0">
  <Name>Liberia</Name>
  <Code>LR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>