<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="d586fbf7-616d-40fe-9f06-a19df0b612bc" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GM" Level="0">
  <Name>Gambia</Name>
  <Code>GM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>