<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="27a1be32-a97f-40ee-8027-50a25b2f8c58" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GG" Level="0">
  <Name>Guernsey</Name>
  <Code>GG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>46460e07-b0ff-4eb0-bc17-b5cf4427e4d3</CurrencyId>
</RescopeCountry>