<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7046296c-e6c0-4165-96bc-5e2745f5e40e" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_JO" Level="0">
  <Name>Jordan</Name>
  <Code>JO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>