<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="be89a63a-84ce-42ac-805d-6780a5adabdc" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AL" Level="0">
  <Name>Albania</Name>
  <Code>AL</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>