<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="270aec81-592e-4747-ad94-d26c33705f9a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CO" Level="0">
  <Name>Colombia</Name>
  <Code>CO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>