<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="6dcfcb62-ae65-433d-a520-de96f322ec64" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SZ" Level="0">
  <Name>Eswatini</Name>
  <Code>SZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>