<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="727740ab-7a44-4cc9-ab34-aad8b94a8ad6" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CG" Level="0">
  <Name>Congo - Brazzaville</Name>
  <Code>CG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>