<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="aaa50352-98a3-4085-8a94-b26960410990" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PH" Level="0">
  <Name>Philippines</Name>
  <Code>PH</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>