<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9a2cf2f7-a2d5-4a7a-9046-55b0801614be" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SM" Level="0">
  <Name>San Marino</Name>
  <Code>SM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>