<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="a2f12153-7a11-4fc3-a324-5c6fbd99b8fd" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KP" Level="0">
  <Name>North Korea</Name>
  <Code>KP</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>