<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="60c4d37c-2e07-4075-bc11-3fd66d2baec3" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GI" Level="0">
  <Name>Gibraltar</Name>
  <Code>GI</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>