<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9ab04f1b-bb71-4ae2-9872-2798d965a585" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NL" Level="0">
  <Name>Netherlands</Name>
  <Code>NL</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>