<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c6979f75-3b33-476d-bcc7-372176bfa208" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CW" Level="0">
  <Name>Curaçao</Name>
  <Code>CW</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>