<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="4c1d7562-b433-4b86-938a-010391b41ab8" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BO" Level="0">
  <Name>Bolivia</Name>
  <Code>BO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>