<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7f198c5d-31f2-4dc3-a0b0-5a35f15b0c6f" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_HT" Level="0">
  <Name>Haiti</Name>
  <Code>HT</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>