<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="e11b93b1-d767-42c0-81c6-f2c58bd845a2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ST" Level="0">
  <Name>São Tomé &amp; Príncipe</Name>
  <Code>ST</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>