<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="f9170db3-0e77-43fa-8419-4458fdd85c91" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ML" Level="0">
  <Name>Mali</Name>
  <Code>ML</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>