<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="e18c9beb-77f3-46f8-8d2a-f0f2b91bd36e" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TK" Level="0">
  <Name>Tokelau</Name>
  <Code>TK</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>