<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c8441462-c487-4ff2-a57b-f50730dfed80" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TT" Level="0">
  <Name>Trinidad &amp; Tobago</Name>
  <Code>TT</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>