<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="6f1bcd61-cb41-4330-b3f0-307b353c6750" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MP" Level="0">
  <Name>Northern Mariana Islands</Name>
  <Code>MP</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>