<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="93aacc55-8419-4cc1-9e12-72f71a10072f" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_UY" Level="0">
  <Name>Uruguay</Name>
  <Code>UY</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>