<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="4ce74d82-9377-43d7-8613-21b19195ec38" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_DZ" Level="0">
  <Name>Algeria</Name>
  <Code>DZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>