<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="2bc820d3-519a-415f-b347-a250a0571353" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MK" Level="0">
  <Name>North Macedonia</Name>
  <Code>MK</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>