<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="4d0ce11a-1990-485f-96e4-02575e4adbe9" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MQ" Level="0">
  <Name>Martinique</Name>
  <Code>MQ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>