<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="59b4bd4f-c4c2-41e2-84f9-0aca9f498ea4" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PE" Level="0">
  <Name>Peru</Name>
  <Code>PE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>