<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="45ad324d-07dc-434d-83ac-0c166d3f3ec0" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_RS" Level="0">
  <Name>Serbia</Name>
  <Code>RS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>