<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="96bc7c32-0f25-4664-98d6-f6bffa06448a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_LC" Level="0">
  <Name>St. Lucia</Name>
  <Code>LC</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>