<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="623df3f6-45f5-479b-b97d-d9d5d338b43f" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TG" Level="0">
  <Name>Togo</Name>
  <Code>TG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>