<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c5d14a1b-b4bb-478f-a220-a300ee62f12b" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ZA" Level="0">
  <Name>South Africa</Name>
  <Code>ZA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>