<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="49534cb2-40f1-4cf2-908d-6fa5b0aecb94" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GL" Level="0">
  <Name>Greenland</Name>
  <Code>GL</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>