<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="a6cccd7a-017f-4940-b1ab-d0108e3484a9" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_RU" Level="0">
  <Name>Russia</Name>
  <Code>RU</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>