<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="18afef81-94c5-4c2c-b703-b7e18fec6b41" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TW" Level="0">
  <Name>Taiwan</Name>
  <Code>TW</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>