<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="10b03846-fc66-4d97-93c0-17dad7f97087" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_IM" Level="0">
  <Name>Isle of Man</Name>
  <Code>IM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>46460e07-b0ff-4eb0-bc17-b5cf4427e4d3</CurrencyId>
</RescopeCountry>