<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="d116af02-2036-4274-b834-b97de4891d31" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CH" Level="0">
  <Name>Switzerland</Name>
  <Code>CH</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>