<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="377fbb55-45db-4b61-b986-f8e86974f44a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AO" Level="0">
  <Name>Angola</Name>
  <Code>AO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>