<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="f974d860-790f-429c-a2d1-7775de56c726" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_KI" Level="0">
  <Name>Kiribati</Name>
  <Code>KI</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>