<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7cad8911-be20-4ff5-9671-0c8d59674bdd" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MW" Level="0">
  <Name>Malawi</Name>
  <Code>MW</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>