<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="dbcacd2f-24be-453f-af27-21e34b3caae0" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_VE" Level="0">
  <Name>Venezuela</Name>
  <Code>VE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>