<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="666e05fb-93ad-4ce9-b44a-ec63e97d8aec" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_VI" Level="0">
  <Name>U.S. Virgin Islands</Name>
  <Code>VI</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>