<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="452fa890-f92a-4824-8023-175667596f1e" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CN" Level="0">
  <Name>China mainland</Name>
  <Code>CN</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>