<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="ad6acbd4-1227-4232-807a-247bcfc8c371" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CI" Level="0">
  <Name>Côte d’Ivoire</Name>
  <Code>CI</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>