<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9a0dfbc9-3eb7-40ec-bc1c-e60d7b73c89d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BJ" Level="0">
  <Name>Benin</Name>
  <Code>BJ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>