<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="58fbed79-0c10-4707-bfbb-14f9f1c27f12" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_DO" Level="0">
  <Name>Dominican Republic</Name>
  <Code>DO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>