<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="ab63a7e9-8aec-4d54-9218-c9d0b79a8549" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_JP" Level="0">
  <Name>Japan</Name>
  <Code>JP</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>