<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="e5487b51-2c9e-404b-abeb-a25c0555b65b" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GE" Level="0">
  <Name>Georgia</Name>
  <Code>GE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>