<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="b0a8c0bb-839a-432f-a3d0-9bf0ca20c081" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GW" Level="0">
  <Name>Guinea-Bissau</Name>
  <Code>GW</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>