<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="71e50e25-b607-4e61-8d26-e4e194087748" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PM" Level="0">
  <Name>St. Pierre &amp; Miquelon</Name>
  <Code>PM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>