<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="31b88b87-e8e0-4190-8604-eac5e1b14dcf" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TO" Level="0">
  <Name>Tonga</Name>
  <Code>TO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>