<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="cf96ce4c-ed3f-4b93-a8ba-4ae816dec12e" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PY" Level="0">
  <Name>Paraguay</Name>
  <Code>PY</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>