<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="a8233d68-f8b8-4067-8f89-b89834b3a6dd" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_HR" Level="0">
  <Name>Croatia</Name>
  <Code>HR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>