<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="2a116c2a-cfb3-406c-829b-5821719eae0d" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GY" Level="0">
  <Name>Guyana</Name>
  <Code>GY</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>