<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="5d4a7262-f8f2-47dd-b89d-8ab5fb24e2a1" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TV" Level="0">
  <Name>Tuvalu</Name>
  <Code>TV</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>