<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="6dd81c8f-b59b-41e4-b3dc-d3f50c805e91" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_VN" Level="0">
  <Name>Vietnam</Name>
  <Code>VN</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>