<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="a159184d-fb1b-4532-92f5-3dca5b30062f" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_IE" Level="0">
  <Name>Ireland</Name>
  <Code>IE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>