<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="240e162c-16db-4218-b9d4-fea18e50e899" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SA" Level="0">
  <Name>Saudi Arabia</Name>
  <Code>SA</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>