<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="023c555a-5a69-4f98-811b-3d617e483f28" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_TM" Level="0">
  <Name>Turkmenistan</Name>
  <Code>TM</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>