<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="811ee0ed-e3bf-46f0-b1b0-a8e52dca6493" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BS" Level="0">
  <Name>Bahamas</Name>
  <Code>BS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>