<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="002816c4-ae07-430b-ac28-9636c9b8afe2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NC" Level="0">
  <Name>New Caledonia</Name>
  <Code>NC</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>