<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="01228c3f-90f1-4b4c-8da7-22d8d2ecf4a8" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_MR" Level="0">
  <Name>Mauritania</Name>
  <Code>MR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>