<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="215d58a2-c03e-4638-8ebc-93f369ae2bde" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_IS" Level="0">
  <Name>Iceland</Name>
  <Code>IS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>