<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="0d7c7f70-c67c-4ff3-9eea-f0698d72d915" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_GT" Level="0">
  <Name>Guatemala</Name>
  <Code>GT</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>