<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="76d039f7-dd74-4db3-a20c-b54bee1351b2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AF" Level="0">
  <Name>Afghanistan</Name>
  <Code>AF</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>