<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="c6f40d23-40b3-4575-9843-1391830b892b" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_IO" Level="0">
  <Name>Chagos Archipelago</Name>
  <Code>IO</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>73af5c34-ccdc-4f84-b51e-e6bced031c88</CurrencyId>
</RescopeCountry>