<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7ae802fb-2567-49f9-8ef0-451511eb7691" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PF" Level="0">
  <Name>French Polynesia</Name>
  <Code>PF</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>