<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="587f2580-5ecf-44be-848c-9fbb65a2abaf" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NE" Level="0">
  <Name>Niger</Name>
  <Code>NE</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>