<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="36246467-9890-46ec-b5f9-555a9e745eb1" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_VU" Level="0">
  <Name>Vanuatu</Name>
  <Code>VU</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>