<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="0aaf9d2c-8a22-46d4-93c6-d9d687a51172" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CV" Level="0">
  <Name>Cape Verde</Name>
  <Code>CV</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>