<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="93e2b62f-0f75-4242-acf5-b32bb9ba957f" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BL" Level="0">
  <Name>St. Barthélemy</Name>
  <Code>BL</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId>67b2aef4-5678-41f6-b4b3-7aa44ad655a3</CurrencyId>
</RescopeCountry>