<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="b1a5c4f9-9774-427d-8d31-167ca51f8876" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_HN" Level="0">
  <Name>Honduras</Name>
  <Code>HN</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>