<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="f8dc459c-2ee0-4c1b-bc88-ddd52291fc05" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NR" Level="0">
  <Name>Nauru</Name>
  <Code>NR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>