<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="2cc1a05d-d4a9-48e3-b3d8-8f053ba1c2e2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BZ" Level="0">
  <Name>Belize</Name>
  <Code>BZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>