<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="4b28b469-7a09-4ecf-8212-93cba7592bb2" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CF" Level="0">
  <Name>Central African Republic</Name>
  <Code>CF</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>