<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="27d0573d-6ffc-4b01-a5dd-096756260f69" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AG" Level="0">
  <Name>Antigua &amp; Barbuda</Name>
  <Code>AG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>