<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="bbf863cd-74e3-4623-bd62-235ffad30e4e" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_LK" Level="0">
  <Name>Sri Lanka</Name>
  <Code>LK</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>