<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="af4f02b0-927b-42ed-a39a-d6174f6995f0" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_ET" Level="0">
  <Name>Ethiopia</Name>
  <Code>ET</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>