<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="16180fba-13e2-47ea-95f8-d95fd2e82a12" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_NF" Level="0">
  <Name>Norfolk Island</Name>
  <Code>NF</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>