<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="9c1679df-8d56-447e-a86c-d2f6e471052a" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_AZ" Level="0">
  <Name>Azerbaijan</Name>
  <Code>AZ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>