<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="bf812225-94cc-41ae-b97d-a5ab1c3e9ff9" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_SS" Level="0">
  <Name>South Sudan</Name>
  <Code>SS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>