<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="f5592bbc-d66c-422b-9172-d4aed6a80a15" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_WS" Level="0">
  <Name>Samoa</Name>
  <Code>WS</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>