<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="3791a178-842e-4c0c-9a03-2d9058a62711" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BH" Level="0">
  <Name>Bahrain</Name>
  <Code>BH</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>