<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="7452ad36-6c76-434f-8dbd-05e64e86e4a8" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_BG" Level="0">
  <Name>Bulgaria</Name>
  <Code>BG</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>