<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="d011e405-dc2d-48b7-8574-ddff28a199e0" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_PL" Level="0">
  <Name>Poland</Name>
  <Code>PL</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>