<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="1a8118bc-ea9d-41e5-a7c9-549cde347716" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_DJ" Level="0">
  <Name>Djibouti</Name>
  <Code>DJ</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>