<?xml version="1.0" encoding="utf-8"?>
<RescopeCountry Key="64960549-e4ce-44cf-9fcd-7e30ee8f22cd" Alias="f52b0bc1-4727-4aeb-b1fe-b6c5202ae378_CR" Level="0">
  <Name>Costa Rica</Name>
  <Code>CR</Code>
  <StoreId>f52b0bc1-4727-4aeb-b1fe-b6c5202ae378</StoreId>
  <Enabled>true</Enabled>
  <CurrencyId />
</RescopeCountry>