<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac799e13-4041-4707-8334-a0a3b5afe5a8" Alias="Customisation Fields" Level="1">
  <Info>
    <Name>Customisation Fields</Name>
    <EditorAlias>RescopeCustomisationField</EditorAlias>
    <EditorUIAlias>RescopeCustomisationField</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>