<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca65adda-b4bd-437b-9be0-156fdd781eab" Alias="Shipping Method Picker" Level="1">
  <Info>
    <Name>Shipping Method Picker</Name>
    <EditorAlias>RescopeShippingMethodPicker</EditorAlias>
    <EditorUIAlias>RescopeShippingMethodPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>