<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12fcc6a7-3379-434a-9f0e-efb2c477d0e3" Alias="Store Picker" Level="1">
  <Info>
    <Name>Store Picker</Name>
    <EditorAlias>RescopeStorePicker</EditorAlias>
    <EditorUIAlias>RescopeStorePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>