<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e4d8b73-b66c-4ed1-aa34-0d614f8faaf7" Alias="catalogue" Level="1">
  <Info>
    <Name>Catalogue</Name>
    <Icon>icon-book color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c51d00a1-459b-489e-a7aa-9d74204b2169">contentComposition</Composition>
      <Composition Key="bb2f3d99-651c-4a86-a9ee-1461d69759ea">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>Catalogue</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3ab9a8d-df6a-4deb-a45d-99e51176ac18">Catalogue</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c8b4582f-e352-4943-b505-ba98fedcc008" SortOrder="0">rescopeProduct</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>