<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3995b46a-29f5-4c98-b3c7-4fdcb7795a97" Alias="checkout" Level="2">
  <Info>
    <Name>Checkout</Name>
    <Icon>icon-cash-register color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Basket</Folder>
    <Compositions>
      <Composition Key="c51d00a1-459b-489e-a7aa-9d74204b2169">contentComposition</Composition>
      <Composition Key="bb2f3d99-651c-4a86-a9ee-1461d69759ea">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>