<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9bc8890-da1c-4a10-8424-18c4e6110b81" Alias="confirmation" Level="2">
  <Info>
    <Name>Confirmation</Name>
    <Icon>icon-receipt-pound color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Basket</Folder>
    <Compositions />
    <DefaultTemplate>Confirmation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1e46d51e-0aea-4a53-a614-9328186ac4b3">Confirmation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>