<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32053e3b-713a-4b10-929b-cafc60bd0d74" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c51d00a1-459b-489e-a7aa-9d74204b2169">contentComposition</Composition>
      <Composition Key="bb2f3d99-651c-4a86-a9ee-1461d69759ea">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="59272c8a-2c2e-4dcb-b319-54a56798d4a8">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3e4d8b73-b66c-4ed1-aa34-0d614f8faaf7" SortOrder="0">catalogue</ContentType>
    <ContentType Key="c4c5fdab-30df-4a60-b32c-7bf4bee66393" SortOrder="1">genericPage</ContentType>
    <ContentType Key="c75bbd07-7813-4be6-a85d-2fcc1488b8e3" SortOrder="2">basket</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a9dccd19-678f-49de-8222-f5e0647e727b</Key>
      <Name>Footer</Name>
      <Alias>footer</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2fdff7bf-d491-48ef-9898-cd2e9d7939ac</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1bd8d3f-6f46-40ce-83d4-9dc1414f3769</Key>
      <Name>Navbar</Name>
      <Alias>navbar</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eac0f146-302e-4f1c-81ad-22d0c458b069</Key>
      <Name>Rescope Store</Name>
      <Alias>rescopeStore</Alias>
      <Definition>12fcc6a7-3379-434a-9f0e-efb2c477d0e3</Definition>
      <Type>RescopeStorePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This field is read by the site to associate the correct Rescope Store to baskets under this website.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>790a0305-1b1d-45a6-9d1c-6303e60fa9aa</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>